# Node.js
node_modules/
npm-debug.log
package-lock.json

# TypeScript
dist/
build/
*.tsbuildinfo

# Otras configuraciones
.env

# Sistema operativo
.DS_Store             # MacOS
Thumbs.db            # Windows

# IDEs y editores específicos
.vscode/              # Visual Studio Code
.idea/                # JetBrains IDEs
*.sublime-workspace   # Sublime Text
*.sublime-project

# Pruebas temporales
coverage/            # Carpeta para resultados de pruebas
*.log                # Archivos de log

# Archivos de configuración de depuración
*.code-workspace
*.user
*.sublime-settings
*.sln
*.userprefs

# Archivos generados
*.js                 # Archivos JS generados desde TypeScript
*.map                # Archivos de mapas de TypeScript
